@font-face{
    font-family: "Main";
    src: url("./fonts/CONSOLAB.TTF");
    font-style: normal;
    font-weight: normal;
}

*{
    box-sizing: border-box;
    margin:0;
    line-height: 1;
    /* letter-spacing: -2px; */
}

body{
    font-size: 40px;
    font-family: Consolas, Main, "Courier New", monospace;
    background: black;
    letter-spacing: -1px;
    display:flex;
    flex-direction:column;
}

.change-btn{
    width: 960px;
    height: 120px;
    border: 4px solid rgb(100,100,100);
    border-radius: 8px;
    color: rgb(100,100,100);
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 100px;
    margin: auto;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
    
}
.change-btn span{
    display:inline-block; transform:scale(6,1); /* W3C */ -webkit-transform:scale(6,1); /* Safari and Chrome */ -moz-transform:scale(6,1); /* Firefox */ -ms-transform:scale(6,1); /* IE 9 */ -o-transform:scale(6,1);
}

b{
    font-size: 32px;
    font-weight: normal;
}
.container{
    margin: auto;
    width: 960px;
    height:640px;
    display: flex;
    flex-direction: column;
    /* no tocar este codigo, es del fondo copado */
    background-color: rgba(248, 208, 168, 1);
    background-image: linear-gradient(0deg, rgba(248, 208, 168, 1) 50%, rgba(248, 168, 144, 1) 50%);
    background-size: 10px 10px;
}


.pokemon-data-container{
    width: 100%;
    height:576px;
    border: 8px solid rgb(096, 104, 120);
    display: flex;
    flex-direction: column;
}
.data-subcontainer{
    height: 364px;
    display:flex;
}
.data-subcontainer aside{
    height: 100%;
    width: 50%
}


.title{
    color: rgb(248,248,248);
    text-shadow: 2px 2px 0px rgb(096, 096, 096), 2px 0px 0px rgb(096, 096, 096), 0px 2px 0px rgb(096, 096, 096);
}
.subtitle{
    color: rgb(063, 063, 063);
    text-shadow: 3px 3px 0px rgb(216, 216, 192), 0px 3px 0px rgb(216, 216, 192), 3px 0px 0px rgb(216, 216, 192);
}


.male{
    color: rgb(160, 192, 240);
    margin-right: 28px;
}
.female{
    color: rgba(248, 168, 144, 1);
    margin-right: 28px;
}
